
/* nav styles */

.header{
    background-image: url(../Hero-bg.png);
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
   font-weight: 800; 
   font-size: 28px;
}

.btn-pr{
   font-weight: 600;
   font-size: 20px;
   padding: 18px 24px;
   border-radius: 8px;
}

/* .banner{
    justify-content: space-around; */



.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner{
text-align: center;
max-width: 1140px;
margin: 0 auto;
padding: 45px 25px;
}
.starter{
    font-weight: 800;
    font-size: 48px;
}
.banner-description{
    font-size: 18px;
}

.btn-banner{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 16px 24px;
    border-radius: 8px;
}
/* section intro */
    .section-intro{
    font-weight: 800;
    font-size: 32px;
    }

.details{
    font-size: 16px;
    
}
.beginning{
    text-align: center;
    width: 1140px;
    margin: 0px auto;
    padding: 50px;
}
/* section extra */
.change{
    max-width: 1140px;
    margin: 0px auto;
   display: flex;
   justify-content: space-between;
}


.change-title{
    font-weight: 800;
    font-size: 20px;
}
.change-des{
    font-size: 16px;
}
/* system style */
.system{
    max-width: 880px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.system-title{
    font-weight: 800;
    font-size: 20px;
}
.system-des{
    font-size: 16px;
}
/* coding style */
.coding{
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.coding-title{
    font-weight: 800;
    font-size: 20px;
}
.coding-des{
    font-size: 16px;
}
/* inspiration */
.inspiration{
    text-align: center;
    
}
.hero{
    font-size: 20 px;
    font-weight: 600;
}
.hero-p{
    font-size: 16px;
}
/* skills styles */
.skills-description{
    margin: 30px auto;
    padding: 35px;
} 
.skill-title{
margin: 30px auto;
padding: 35px;
}
.title-center{
    text-align: center;
    max-width: 1140px;
    margin: 10px auto;
}
.skills-container{
 display: flex;
 gap: 24px;
 max-width: 1140px;
 margin: 0 auto;
}
  .skill{
    padding: 15px;
    background-color: rgba(0, 255, 255, 0.092);
  }
.skill-title{
    font-weight: 800;
    font-size: 20px;
}
.anchor{
    
    color: black;
}
/* last target */
.final{
    max-width: 1140px;
    margin: 15px auto;
    text-align: center;
   
}
.box{
    display: flex;
    padding: 20px;
    box-shadow: 0px 4px 20px 0px bisque;
    border-radius: 8px;
}
.icon{
    padding: 35px;
}
.last-target{
    font-size: 20px;
    font-weight: 700px;
    margin: 30px 20px;
}
.last-tr-des{
    font-size: 16px;
}

.next-target div{
max-width: 1140px;
margin: 10px auto;
}
.target-anch{
    font-size: medium;
    color: black;
}
.support{
    background-image: url(../handshake.jpg);
    color: white;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 35px;
}
.footer{
    display: flex;
    max-width: 1140px;
    margin: 15px auto;
    justify-content: space-between;
}
.bold{
    font-size: 20px;
    font-weight: 700;
}